<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Knowledge.Demonstrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MicrosoftAzure.Demonstrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Knowledge.Demonstrator.Properties.Settings>
            <setting name="PreviousImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SubscriptionKey1" serializeAs="String">
                <value>3840522b396e4b9da09cf765b34ba35e</value>
            </setting>
            <setting name="SubscriptionKey2" serializeAs="String">
                <value>025681452da1432783fa829e915ff41e</value>
            </setting>
            <setting name="UriBase" serializeAs="String">
                <value>https://southcentralus.api.cognitive.microsoft.com</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>https://computervisiondemonstrator.cognitiveservices.azure.com/</value>
            </setting>
            <setting name="EndPointKey1" serializeAs="String">
                <value>d114415a76b9474393f84862a456bcb1</value>
            </setting>
        </Knowledge.Demonstrator.Properties.Settings>
        <MicrosoftAzure.Demonstrator.Properties.Settings>
            <setting name="PreviousImagePath" serializeAs="String">
                <value />
            </setting>
        </MicrosoftAzure.Demonstrator.Properties.Settings>
    </userSettings>
</configuration>